/* 

yellow-main: #ffc508;
yellow-pale: #ffde74;
yellow-dark: #e7b411;

grey-pale: #cbc2c2;
grey-dark: #b7acac;

orange-dark: #ff6821;
orange-pale: #fb7a3d;
orange-hover: ;
*/

* { 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	min-height:100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-size: 100%;
}

body { 
	font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif; 
}


h1 {
  font-size: 45px; /* ie8 or below */	
  font-size: 2.8rem; /* 45px */
 /* line-height: 67px;*/
}
h2 {
  font-size: 30px; /* ie8 or below */	
  font-size: 1.875rem; /* 30px */
  line-height: 45px;
  
}
h3 {
  font-size: 21px;
  font-size: 1.875rem; /* 30px */
  line-height: 31px;
}

p, ul{
  margin-top: 15px;
  margin-bottom: 22px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

b, strong, small {
  line-height: 1;
}

small {
  font-size: 12;
}

.left {float: left;}

.right { float: right;}

.displayInline { display: inline-block;}

form { height:auto;}

/* ==========================================================================
   iconic -font
   ========================================================================== */
   @font-face { 
	font-family: 'Flaticon';
	src:url('../fonts/flaticon.eot');
	src:url('../fonts/flaticon.eot#iefix') format('embedded-opentype'),
		url('../fonts/flaticon.woff') format('woff'),
		url('../fonts/flaticon.ttf') format('truetype'),
		url('../fonts/laticon') format('svg');
	font-weight: normal;
	font-style: normal;
	}

	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
		font-family: 'Flaticon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	  	-moz-osx-font-smoothing: grayscale;
	}

	/* icon @ footer */

/*.flaticon-add145:before {
content: "\e000";
}*/
.flaticon-add6:before {
	content: "\e001";
}
.flaticon-alarm15:before {
	content: "\e002";
}
.flaticon-black393:before {
	content: "\e003";
}
.flaticon-ceo1:before {
	content: "\e004";
}
.flaticon-checked18:before {
	content: "\e005";
}
.flaticon-crayon:before {
	content: "\e006";
}
.flaticon-delete48:before {
	content: "\e007";
}
.flaticon-edit1:before {
	content: "\e008";
}
.flaticon-floppy4:before {
	content: "\e009";
}
.flaticon-floppy5:before {
	content: "\e00a";
}
.flaticon-home3:before {
	content: "\e00b";
}
.flaticon-login:before {
	content: "\e00c";
}
.flaticon-login17:before {
	content: "\e00d";
}
.flaticon-login18:before {
	content: "\e00e";
}
.flaticon-logout:before {
	content: "\e00f";
}
.flaticon-note19:before {
	content: "\e010";
}
.flaticon-note25:before {
	content: "\e011";
}
.flaticon-note44:before {
	content: "\e012";
}
.flaticon-pause41:before {
	content: "\e013";
}
.flaticon-pencil41:before {
	content: "\e014";
}
.flaticon-pencil63:before {
	content: "\e015";
}
.flaticon-recycle2:before {
	content: "\e016";
}
.flaticon-save17:before {
	content: "\e017";
}
.flaticon-signature1:before {
	content: "\e018";
}
.flaticon-small31:before {
	content: "\e019";
}
.flaticon-square113:before {
	content: "\e01a";
}
.flaticon-timer29:before {
	content: "\e01b";
}
.flaticon-two123:before {
	content: "\e01c";
}
/* ==========================================================================
   HEADER
   ========================================================================== */
	.header-logo {
		color:#fff;
		font-family: 'Righteous', cursive; 
		font-size:2.9em;
		padding: 15px 0;
		display: inline-block;
	}

	.main-title {
		margin-top: 30px;
		color: #ffc508;
	}

	.main-title .fa-plus-square { 
		font-size: 40px;
		color: #ffc508;
		margin-left: 10px;
		text-align: left;
	}

	.main-title .fa-plus-square:hover { color: #ffde74;}

	hr {
		height: 1px;
		border: none;
		background: #ffc508;
	}

/* ==========================================================================
   01 INDEX.html - task-listing
   ========================================================================== */

   .home-body { 
   		background: #ffc508;
   		height: 100%;
   	}

   .quote, .quote3x{ 
   		font-family: 'Righteous', cursive; 
   	}

   	.quote {font-size: 6rem; color: #232323; line-height:1.2em}

   	.quote2x {font-size: 3.5rem; color:#ffde74;}
   	.quote3x {font-size:10rem;line-height:12rem}

	/*.link-home {color:#ffde74; text-decoration: underline;}*/
	.link-home {color:#e7b411; text-decoration: underline; }

	/*.link-home:hover {color:#e7b411; }*/
	.link-home:hover {color:#ffde74; text-decoration: underline; }

	.main-theme {margin: 18px 0 80px 0;}

	.kerningLogo {letter-spacing: -0.5rem;}

	.kerning {letter-spacing: -1.2rem;}

	.kerning2x {letter-spacing: -2rem;}

	/* typing effect */
	.typing { 
	    width:4em;
	    white-space:nowrap;
	    overflow:hidden;
	    border-right: .1em solid black;
	    -webkit-animation: typing 5s steps(5, end),
	                        blink-caret 1s step-end infinite;
	    /*-moz-animation: typing 5s steps(20, end),
	                        blink-caret 1s step-end infinite;
		-animation: typing 5s steps(20, end),
	                        blink-caret 1s step-end infinite;*/
	}
	
	@-webkit-keyframes typing {
	from { width: 0 }
	to { width: 4em }
	}

	@-moz-keyframes typing {
	    from { width: 0 }
	    to { width: 4em }
	}
	
	@keyframes typing {
	    from { width: 0 }
	    to { width: 4em }
	}

	@-webkit-keyframes blink-caret {
	    from, to { border-color: transparent }
	    50% { border-color: black }
	}

	@-moz-keyframes blink-caret {
	    from, to { border-color: transparent }
	    50% { border-color: black }
	}
	
	@keyframes blink-caret {
	    from, to { border-color: transparent }
	    50% { border-color: black }
	}
	
/* ==========================================================================
   02 lIST.html - task-listing
   ========================================================================== */
 .section-top {
 	margin-top: 15px; 
 }

ul.list-view{
	border: 1px solid #ffc508;
	display: inline-block;
	float: left;
}

.list-view .column9, .list-view .column2, .list-view .column1 { margin-left: 0; margin-right: 0;}

.list-view .column8, .list-view .column3 { margin-left: 0; margin-right: 0;}

.list-view .column7 { margin-left: 0; margin-right: 0;}

.list-title { padding-top: 3px;}
.list-icon, .list-title { font-size: 21px;}

.icon-sq {
	margin-right: 3px;
	color: #ffffff;
	width: 35px;
	height: 35px;
	padding: 6px;
	font-size: 24px;
}

.list-icon {background: #ffc508;}

.list-view a { color:#232323;}

.list-view a:hover { color:#ffde74;}

.wrap-time { padding-left: 20px;}


input[name="displayTaskValue"] {
	border: none;
	background: transparent;
}

input[ name="displayHourValue"], input[name="displayMinValue"]  {
   		border-radius: 8px;
		border: 1px solid #ffc508;
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
		width: 40px;
		height: 35px;
		float: left;
		display: inline-block;
	}
.listColon { margin-left: 8px;}

.list-view ul li.listSingle { border: none;}

li.list-view { margin-top: 30px; height: 35px;}


/* To-do function */

.list-col8 {
	margin-left:0;
}

.listSingle {
	border: 1px solid #ffc508;
}

button,
input[type="checkbox"] {
  outline: none;
}

/*#new-todo,*/ /* new task entry box */
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .toggle {
	text-align: center;
	/*width: 40px;*/  /*amend*/
	/* auto, since non-WebKit browsers doesn't support input styling */
	/*height: auto;*/   /*amend*/
	/*position: absolute;*/  /*amend*/
	top: 0;
	bottom: 0;
	margin: auto 0;
	/* Mobile Safari */
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#todo-list li .toggle:after {
	/*content: '✔';*/ /* added */
		  display: inline-block;
		  font: normal normal normal 14px/1 FontAwesome;
		  font-size: inherit;
		  text-rendering: auto;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
	content: "\f096";
	/* 40 + a couple of pixels visual adjustment */
	/*line-height: 43px;
	line-height: 34px;*/
	vertical-align:middle;
	font-size: 24px;
	/*color: #d9d9d9;*/
	color: #fff;
	/*text-shadow: 0 -1px 0 #bfbfbf;*/
}

#todo-list li .toggle:checked:after {
		content: "\f046"; /* added */
	/*color: #85ada7;*/
	/*text-shadow: 0 1px 0 #669991;*/
	color: #fff;
	/*bottom: 1px;*/
	/*position: relative;*/
}

#todo-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#todo-list li .edit {
	display: none;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

label.list-title { /*added*/
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

/* ==========================================================================
   03 ADD-TASK - task-listing
   ========================================================================== */
	.add-section-time { position: relative;}

	.add-time-wrap { 
		position: absolute;
		top: 6px;
	}
   	input[name="taskName"] {
   		border: none;
   		color:#cbc2c2;
   		font-size: 2.8rem;
   		width: 100%;
   	}

   	.add-icon-clock { 
   		color: #ffc508;
   		font-size: 48px;
   		margin-right: 10px
   	}

	input[name="setHour"], input[name="setMin"]  {
   		border-radius: 8px;
		border: 1px solid #ffc508;
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
		color: #cbc2c2;
		width: 40px;
	}

	.add-time-unit, .timer-unit { 
   		color: #ffc508;
   	}
   	.note { font-size: 30px; color: #ffc508;}

   	.add-icon-note {color: #ffc508; font-size: 38px; margin-right: 5px }

   	textarea {
   		width: 100%;
   		border-color: #ffc508;
   		color: #cbc2c2;
   		padding: 15px;
   		overflow: auto;
    	outline: none;

	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	 }
	
	.btn-box { margin-top: 30px; float: right;}

    .textarea-btn, .timer-btn { 
   		float:left;
   	}

   	.textarea-btn input[type="submit"],
	.timer-btn input[type="button"]{
   		border: none;
		color: #ffffff;
		outline: none;
		height: 35px;
		width: 200px;
   		background: #fb7a3d;
   	}

   	.timer-btn input[name="startTime"] {
   		border: 1px solid #fb7a3d;
		background: transparent;
		color: #fb7a3d;
		text-align: center;
		width: 235px;
		height: 35px;
		font-size: 1.5rem;
		margin-top: 8px;
   	}

   	.enterTime { 
   		font-size: 1.5rem;
   		color: #fb7a3d;
   		font-family: 'Righteous', cursive;
   	}

   	.textarea-btn input[type="submit"]:hover,
   	.timer-btn input[type="button"]:hover {
   		color: #e56227;
   	}

   	.add-icon {
   		background: #ff6821;
   		color: #ffffff;
		width: 35px;
		height: 35px;
		padding: 6px;
		font-size: 24px;
		float: left;
   	}

   	#btn-cancel { margin-right: 10px;}

   	textarea:focus, input:focus{
    outline: 0;
	}

   	.btn-done { border: none; background: transparent;}

/* ==========================================================================
   04 TIMER
   ========================================================================== */

	/*.timer-section { margin-top: 30px;}*/

	/*.timer-box {
		border-radius: 28px;
		border: 1px solid #ffc508;
		color: #ffc508;
		padding: 10px 15px;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 5em;
	}
*/

	.counter-box {
		border-radius: 28px;
		border: 1px solid #ffc508;
		color: #ffc508;
		padding: 20px 50px;
		font-size: 5em;
		display: inline-block;
		/*margin-bottom: 30px;*/
	}
	
	.timer-gp { 
		/*margin-top: 30px; */
		text-align:center; 
		width:100%; 
	}

	.timer-top, .btn-top {margin-top:30px;}
	
	.row-ctr {
		margin:auto;
		display:block;
		margin-bottom: 20px;
	} 
	.input[type="submit"] {
		border: none;
		background: transparent;
		color: #ffffff;
		outline: none;
		height: 35px;
		width: 130px;
		background: #fb7a3d;
		}

	.timer-gp ul {
		display: inline-block;
	}

	.symbol {
		font-size:5em; color:#ffc508; padding: 0 10px;
	}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
	margin-top: 30px;
}

	.footer-nav { 
		background: #ffc508;
		display: block;
		height: 100px;
		padding: 30px 0 0 0 ;
	}

	.footer-nav ul li {
		/*display: inline-block;*/
		float: left;
		width: 140px;
		height: 40px;
		text-align: center;
	}

	.footer-nav ul li a { 
		color: #fff;
		width: 140px;
		height: 40px;
		display: block;
	}

	.footer-nav ul li a:hover { 
		color: #ffde74;
	}

	.footer-icon  { 
		font-size: 40px;
		margin-right: 5px;
	}

/* ==========================================================================
   COLUMN Reset
   ========================================================================== */

	.list-view .column1 { width: 135px;}

/* ==========================================================================
   Responsive Layout
   ========================================================================== */

   @media only screen and (max-width: 1160px) {
	.hidden { display: none;}

	.footer-nav { width: 100%;}

	.footer-nav ul li {
		width: 20%;
		text-align: center;

		}

	.list-view ul li.list-name {
		background: #ffde74;
		border: none;
	}

	.list-name a, .list-time a, .list-done a  { color: #fff;}
	.list-name a:hover, .list-time a:hover, .list-done a:hover { color: rgba(255, 255, 255, 0.7)}
	.list-view .column8 {background: #ffde74;}

	.list-view .column3, .list-view .column1 {background: #cbc2c2;}

	.listSingle {border: none;}

	/* 
	   FOOTER
	   ========================================================================== */
	
	.footer-nav ul li a { display: inline;}
	
	/* 
	   COLUMN SETTING
	   ========================================================================== */
	   .container12 .column1, .container16 .column1, .container12 .column2, .container16 .column2, .container12 .column3, .container16 .column3, .container12 .column4, .container16 .column4, .container12 .column5, .container16 .column5, .container12 .column6, .container16 .column6, .container12 .column7, .container16 .column7, .container12 .column8, .container16 .column8, .container12 .column9, .container16 .column9, .container12 .column10, .container16 .column10, .container12 .column11, .container16 .column11, .container12 .column12, .container16 .column12, .container16 .column13, .container16 .column14, .container16 .column15, .container16 .column16 {
		margin: 0 0 20px 0;
		width: 100%;
		}

		.list-view .container12 .column1 { width: 100%;}
}
/* end (max-width: 1160px)========================================================================== */

/*@media only screen and (max-width: 768px) {*/
	@media only screen and (max-width: 867px) {
	
	#header-logo {
	padding-bottom: 5px;
	}
	.quote {font-size: 3.5rem;}

	.quote2x {font-size: 2rem;}

   	.quote3x {font-size:7.5rem; line-height: 9rem;}

	.kerning {letter-spacing: -.6rem;}

	.kerning2x {letter-spacing: -1.4rem;}

	/* 
	   03 (Responsive) - add Task
	   ========================================================================== */

		.btn-box { float: none;}

		.textarea-btn, .timer-btn { 
			width:100%; 
		}

		.textarea-btn input[type="submit"] {
			width: 91%;
		}

		#btn-cancel { margin-bottom: 20px; margin-right: 0;}

		input#btn-cancel, input#btn-save  { text-align: center; }
}

/* end (max-width: 867px)========================================================================== */

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	.header-logo {font-size: 2.2rem;}

	.kerning {letter-spacing: -.4rem;}

	.kerning2x {letter-spacing: -1.1rem;}

	.quote2x {font-size: 4.8rem; line-height: 5rem;}

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	.kerningLogo {letter-spacing: 0rem;}

	.kerning {letter-spacing: -.3rem;}

	.kerning2x {letter-spacing: -.8rem;}

	.quote2x {font-size: 1.7rem;}

}

@media only screen and (max-width: 480px) {

	.header-logo {font-size: 2rem;}

	.quote {font-size: 2.5rem;}

	.quote2x { font-size: 1.4rem;}

	.quote3x {
		font-size: 4.5rem;
		line-height: 5.5rem;
	}

	.kerning2x { letter-spacing: -1rem;}

	/*.textarea-btn input[type="submit"] {
		width: 88%;
	}*/

	/*.timer-box {
		border-radius: 14px;
		padding: 10px 12px;
		font-size: 2em;
	}*/

	.btn-top {margin-top:50px;}

	.symbol {font-size:2em;}

	/* add-task @ */

	input[name="taskName"] {
   		font-size: 2.3rem;
   	}


}
